body {
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

main {
    height: 800px;
    border: 2px solid white;
    border-radius: 10px;
}

.game {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 20fr 5fr; 
    height: 100%; /* Take up all 800px of main */
    text-align: center;
}

.guess, .pick_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}

.guess {
    height: 50px;
}

.guess p, .pick_letter p {
    margin: 0;
    padding: 0;
}

.pick_letter{
    height: 100%;
}

.pick_letter p{
    width: 40px;
    height: 45px;
    border-radius: 10px;
    background-color: none;
    cursor: pointer;
}


canvas {
    height: 500px;
    width: 1000px;
    border: 2px solid black;
}

/*
.fail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 2px solid black;

}
*/